:root {
    --primary-bg: cornflowerblue;
    --secondary-bg: darkorchid;
    --primary-fg: darkslateblue;
    --secondary-fg: mediumpurple;

    --border-light: #ffff;
    --border-dark: #0000;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: var(--primary-bg);
    color: var(--primary-fg);

    margin: 0;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    background: var(--secondary-fg);
    padding: 2rem 3rem;

    border-radius: 2.0em;
    border: 0.5em solid var(--border-light);

    box-shadow: 0 8px 20px var(--secondary-bg);
    width: 340px;
    text-align: center;
}

h1 {
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.control-group {
    margin: 1.5rem 0;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
}

[type="range"].kawaii {
    --base: var(--primary-fg);
    --light: color-mix(in sRGB, var(--base) 60%, var(--border-light));
    --lighter: color-mix(in sRGB, var(--base) 30%, var(--border-light));
    --dark: color-mix(in sRGB, var(--base) 95%, #000);;
    --transparent: color-mix(in sRGB, var(--base) 0%, var(--border-dark));
    appearance: none;
    font-size: 1em;
    width: 20em;
    height: 2em;
    border: 0.5em solid var(--border-light);
    border-radius: 2em;
    box-shadow:
        0 0 1em #0001, 
        0 0.25em 0.5em #0001;
    overflow: hidden;
}

[type="range"].kawaii::-webkit-slider-runnable-track {
    background: 
        radial-gradient(circle at 0.75em 0.6em, var(--light) calc(0.2em - 1px), var(--border-dark) 0.2em),
        radial-gradient(circle at 1.25em 0.6em, var(--light) calc(0.2em - 1px), var(--border-dark) 0.2em),
        radial-gradient(circle at 5em 0.6em, var(--light) calc(0.2em - 1px), var(--border-dark) 0.2em),
        linear-gradient(var(--light) 0 0) 1.25em 0.4em / 3.75em calc(0.4em - 0.5px) no-repeat,
        linear-gradient(90deg, var(--base), var(--transparent) 1em),
        linear-gradient(var(--border-dark) 70%, var(--dark) 80%),
        var(--base);
    border-radius: 2em;
    height: 100%;
    overflow: hidden;
}

[type="range"].kawaii::-webkit-slider-thumb {
    appearance: none;
    height: 2em;
    width: 2em;
    color: var(--lighter);
    background:
        radial-gradient(circle at 0.75em 0.6em, var(--light) calc(0.2em - 1px), var(--border-dark) 0.2em),
        linear-gradient(90deg, var(--border-dark) 0.75em, var(--base) 0) 0 0 / 100% 50% no-repeat;
    border-radius: 50%;
    box-shadow: 
        inset -0.5em 0 0.5em -0.25em var(--base),
        1em 0 0 0.25em,
        2em 0 0 0.25em,
        3em 0 0 0.25em,
        4em 0 0 0.25em,
        5em 0 0 0.25em,
        6em 0 0 0.25em,
        7em 0 0 0.25em,
        8em 0 0 0.25em,
        9em 0 0 0.25em,
        10em 0 0 0.25em,
        11em 0 0 0.25em,
        12em 0 0 0.25em,
        12em 0 0 0.25em,
        13em 0 0 0.25em,
        14em 0 0 0.25em,
        15em 0 0 0.25em,
        16em 0 0 0.25em,
        17em 0 0 0.25em,
        18em 0 0 0.25em,
        19em 0 0 0.25em;
}

[type="range"].kawaii::-moz-range-track {
    background: 
        radial-gradient(circle at 0.75em 30%, var(--light) calc(0.2em - 1px), var(--border-dark) 0.2em),
        radial-gradient(circle at 1.5em 30%, var(--light) calc(0.2em - 1px), var(--border-dark) 0.2em),
        radial-gradient(circle at 5.5em 30%, var(--light) calc(0.2em - 1px), var(--border-dark) 0.2em),
        linear-gradient(var(--light) 0 0) 1.5em calc(15% + 0.18em) / 4em calc(0.4em - 0.5px) no-repeat,
        linear-gradient(90deg, var(--base), var(--transparent) 1em),
        linear-gradient(var(--transparent) 70%, var(--dark) 80%),
        var(--base);
    border-radius: 2em;
    height: 100%;
    overflow: hidden;
}

[type="range"].kawaii::-moz-range-thumb {
    appearance: none;
    height: 2em;
    width: 2em;
    border: 0;
    color: var(--lighter);
    background:
        radial-gradient(circle at 0.75em 0.6em, var(--light) calc(0.2em - 1px), var(--border-dark) 0.2em),
        linear-gradient(90deg, var(--transparent) 0.75em, var(--base) 0) 0 0 / 100% 50% no-repeat;
    border-radius: 50%;
    box-shadow: 
        inset -0.5em 0 0.5em -0.25em var(--base),
        1em 0 0 0.25em,
        2em 0 0 0.25em,
        3em 0 0 0.25em,
        4em 0 0 0.25em,
        5em 0 0 0.25em,
        6em 0 0 0.25em,
        7em 0 0 0.25em,
        8em 0 0 0.25em,
        9em 0 0 0.25em,
        10em 0 0 0.25em,
        11em 0 0 0.25em,
        12em 0 0 0.25em,
        12em 0 0 0.25em,
        13em 0 0 0.25em,
        14em 0 0 0.25em,
        15em 0 0 0.25em,
        16em 0 0 0.25em,
        17em 0 0 0.25em,
        18em 0 0 0.25em,
        19em 0 0 0.25em;
}